.footerBannerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px;
    background-image: url(/footer-banner-background.jpg);
    background-size: cover;   
    background-repeat: no-repeat; 
    height: 400px;
    line-height: 1; 
    color: black;
    margin: 100px 50px 20px 50px;

    .bannerHeader {
        display: flex ;
        justify-content: center;
        font-size: 60px;
        margin-bottom: 30px;
    }

    .bannerSubtitle {
        font-size: 20px;
    }

    .primaryButton{
        border-radius: 10px;
        padding: 10px 16px;
        background-color: white;
        color: red;
        border: none;
        margin-top: 40px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        margin: 15px;
  }

    .secondaryButton {
        border-radius: 10px;
        padding: 10px 16px;
        background-color: red;
        color: white;
        border: none;
        margin-top: 40px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
    }

    .footer-banner-image{
        position: absolute;
        top: -35%;
        left: 8%;
        top: 0%;
        left: 35%;
        width: 400px;
        height: 400px;
    }
}