.footerBannerContainer{
    padding: 100px 40px;
    background-image: url(/footer-banner-background.jpg);
    background-size: cover;   
    background-repeat: no-repeat; 
    height: 400px;
    line-height: 1; 
    color: white;
    width: 100%;
    margin-top: 120px;

    .bannerDesc{
        display: flex ;
        justify-content: space-between;

        button{
            border-radius: 15px;
            padding: 10px 16px;
            background-color: white;
            color: red;
            border: none;
            margin-top: 40px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
      }
    .left {

        h3 {
            font-weight: 900;
            font-size: 80px;
            margin-left: 25px;
        }

        p{
            margin:18px;
          }

        .footer-banner-image{
            position: absolute;
            top: -35%;
            left: 8%;
            top: 0%;
            left: 35%;
            width: 400px;
            height: 400px;
        }
    }

    .right{
        line-height: 1.4;

        h3{
            font-weight: 800;
            font-size: 60px;
          }

        p{
            font-size: 18px;
          }
        .companyDesc{
            font-size: 14px;
            font-weight: 300;
        }
    }
  }
}